@{
    ViewBag.Title = "Error";
}

<!-- Header -->
<section class="fixedHeader-locked">
    <div col-sm-3>
        <div class="card card-gray ">
            <div class="card-header">
                <h2 class="card-title">ERROR</h2>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Error no esperado</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="error-page">
                        <p>Ha ocurrido un error no esperado en la aplicación</p>                     
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->
