@{
    ViewBag.Title = "About";
}

<!-- Content Header (Page header) -->
<!-- Header -->
<section class="fixedHeader-locked">
    <div col-sm-3>
        <div class="card card-gray ">
            <div class="card-header">
                <h2 class="card-title">ABOUT</h2>
               
            </div>
        </div>
    </div>
</section>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-info">
                                       
                        <div class="card-header">
                            Proyecto Fin de Ciclo CFGS Desarrollo de Aplicaciones Web 
                           
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                El dominio archimuria.com  ha sido utilizado para el despliegue del Proyecto de Fin de Ciclo del CFGS Desarrollo de Aplicaciones Web, cursado en  <a class="text-bold" href="https://www.ilerna.es/es/fp-a-distancia">ILERNA ONLINE</a> por el alumno Arturo Marín, autor del proyecto y de la aplicación web.
                            </p>
                            <p>El proyecto consiste en el análisis, diseño, desarrollo, despliegue y documentación de una aplicación web orientada a la gestión de seguros. </p>

                            <p> El uso del dominio  es puramente acádemico, destinado exclusivamente a usuarios autorizados por el autor de la página web. Su único fin es la evaluación del proyecto por parte de profesores u otros empleados de Ilerna Online. </p>
                            <p>
                                Los datos son representados de manera ficticia y no representan en ningún caso una contratación real de un seguro. 
                            </p>
                            <p>2020 - Arturo Marín</p>
                        </div>
                    </div>
                

            </div>
        
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
